[Unit]
Description=Lock the screen automatically after a timeout

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -time 5 -detectsleep -locker /home/clay/scripts/auto_lock_screen.sh -nowlocker /home/clay/scripts/lock_screen.sh

[Install]
WantedBy=graphical.target
