[Unit]
Description=Lock the screen automatically after a timeout

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -time 5 -locker /home/clay/scripts/lock_screen.sh -detectsleep

[Install]
WantedBy=graphical.target
